/*  */

.mySwiper{
	width: 100%;
	height: 100%;
	position: relative;
		.swiper-button-prev {
			position: absolute;
			left: 600px;
			top: var(--swiper-navigation-top-offset, 40%);
			width: var(--swiper-navigation-size);
			transform: rotate(90deg);
			height: var(--swiper-navigation-size);
			margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
			z-index: 10;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			color: black;
			--swiper-navigation-size: 25px !important;
			--swiper-navigation-top-offset: 40%;
			--swiper-navigation-sides-offset: 10px;
		}

		.swiper-button-next {
			position: absolute;
			left: 600px;
			top: var(--swiper-navigation-top-offset, 40%);
			width: var(--swiper-navigation-size);
			transform: rotate(90deg);
			height: var(--swiper-navigation-size);
			margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
			z-index: 10;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			color: black;
			--swiper-navigation-size: 25px !important;
			--swiper-navigation-top-offset: 60%;
			--swiper-navigation-sides-offset: 10px;
		}

		.swiper-vertical>.swiper-pagination-bullets {
			position: absolute;
			display: flex;
			gap: 15px;
			align-items: center;
			top: 420px;
			left: 50%;
		}

		.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
			width: 12px;
			height: 12px;
		}

		.swiper-pagination-bullet-active {
			background: #39425D !important;
		}
}
.slide_card{
	width: 100%;
	height: 30px;
}
 .swiper {
	min-height: 300px;
	max-height: 420px;
}